body{
	font-family: Tahoma;
	background-color: #262626;
	text-align: center;
	color: white;
	margin: 100px;
}
img:hover{
	opacity: 1;
}
img{
	height: 400px;
	width: 400px;
	padding: 15px;
	object-fit: cover;
	border-radius: 50px;
	opacity: 0.5;
}
table{
	margin-left: auto;
	margin-right: auto;
}
h1{
	text-transform: uppercase;
	letter-spacing: 12px;
}
.no{
	height: 50px;
	width: 50px;
	opacity: 1;
}